Datatype during concatenation should be same

In [19]:
s = "Udayan"
s*10

'UdayanUdayanUdayanUdayanUdayanUdayanUdayanUdayanUdayanUdayan'

In [20]:
sx = [1,2,3,5, "abc"]

In [21]:
s.upper()

'UDAYAN'

In [25]:
a = "this is a sample stmt. But this is another stmt."

In [26]:
a.split(".")

['this is a sample stmt', ' But this is another stmt', '']

shift + tab = description of a in-built function.
tab = provides operations that can be performed on a variable.

In [39]:
b = "sampleDataDumpDoseDDD"

In [40]:
b.split('D')

['sample', 'ata', 'ump', 'ose', '', '', '']

Split is Case Sensitive. 

And default value is SPACE " ".

And the separater is not returned. 

All occurances on delimiter is taken in conisderation.

Returns a LIST.

In [41]:
b.partition("D")

('sample', 'D', 'ataDumpDoseDDD')

Partition vs Split == > 

1) PArtition will return the delimiter too.

2) First occurance is only treated as a demiliter.

3) Only 3 output are present in partition.

4) Tuple is immunatable collection as return type.

In [43]:
type(b.partition("D"))

tuple

In [44]:
z ="qweewgwefqVS ASDSG"

In [45]:
z.find('e')

2

first occurances of a search string/ char is retuned. Else -1 is returned by default. -1 is value from empty stack.

In [48]:
f= "GUHA"

In [49]:
f.center(50, "a")

'aaaaaaaaaaaaaaaaaaaaaaaGUHAaaaaaaaaaaaaaaaaaaaaaaa'

In [53]:
"Udayan\tGuha\tBest\t".expandtabs()

'Udayan  Guha    Best    '

In [54]:
'My name is {} '.format("Anthony Gonsalves")

'My name is Anthony Gonsalves '

In [56]:
a = input("plese enter your f name")
b = input("plese enter your l name")

"my name is {} {} ".format(a,b)

plese enter your f nameSamiran
plese enter your l nameGuha

'my name is Samiran Guha '

order is importnt here to replace the placeholder. sequential order is maintained.

In [57]:
p = "hello"

In [59]:
p.isspace()
p.isalpha()

True

loads of IS in built functions. All such function return a boolean value.

In [61]:
o="Mr. Udayan"
o.istitle()

True

In [63]:
o.endswith('n')

True

In [64]:
o.isprintable()

True

In [65]:
len(o)

10

print always returns a NONE  return type

In [72]:
a = [1,2,4,"abc", "abdr", 4.6,[1,2]]
b = [10,"abc", "abdr", 4.6,[1,2]]

In [73]:
m=[]
for i in a :
    m.append(i)
    
print(m)

[1, 2, 4, 'abc', 'abdr', 4.6, [1, 2]]

In [74]:
(a+b)

[1, 2, 4, 'abc', 'abdr', 4.6, [1, 2], 10, 'abc', 'abdr', 4.6, [1, 2]]

type of list = first element of the list.

In [75]:
b + list("guha")

[10, 'abc', 'abdr', 4.6, [1, 2], 'g', 'u', 'h', 'a']

List is not iterable.

In [78]:
b+ list([1])

[10, 'abc', 'abdr', 4.6, [1, 2], 1]

In [79]:
b.append("Udayan")

In [80]:
b

[10, 'abc', 'abdr', 4.6, [1, 2], 'Udayan']

In [81]:
b.insert(3,"bhu")

In [82]:
b

[10, 'abc', 'abdr', 'bhu', 4.6, [1, 2], 'Udayan']

data is pushed on index number. rest of the elements are pushed.

In [83]:
b.insert(-1,"zzz")

In [84]:
b

[10, 'abc', 'abdr', 'bhu', 4.6, [1, 2], 'zzz', 'Udayan']

positive axis, it goes to the end of the list. And inserts new data from that end the index.

In [85]:
b.pop()

'Udayan'

last element is by default the end index is poped. And data is removed perrmantly .

In [86]:
b.pop(2)

'abdr'

index wise pop operation can be performed. Index starts from 0 from the left of the list.

In [87]:
b[::-1]

['zzz', [1, 2], 4.6, 'bhu', 'abc', 10]

reverse the list. But this operation is NOT PERMANENT.

In [88]:
b.reverse()

In [89]:
b

['zzz', [1, 2], 4.6, 'bhu', 'abc', 10]

List is permanantly reversed.

In [91]:
b.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

sorting happens only on list of ONE type. Say only numbers. only Strings. Nested elements will created issue.

In [92]:
n = [3,3,232534,35,87]

In [93]:
n.sort()

In [94]:
n

[3, 3, 35, 87, 232534]

In [97]:
m = [0,678,69,3]

In [98]:
d= [n,m]

In [106]:
d

[[3, 3, 35, 87, 232534], [0, 678, 69, 3]]

In [99]:
d[-1]

[0, 678, 69, 3]

In [101]:
d[1]

[0, 678, 69, 3]

In [102]:
d[-1][2]

69

In [103]:
d[1][2]

69

In [104]:
d[-1][::2]

[0, 69]

In [105]:
d[0][::2]

[3, 35, 232534]

In [107]:
m=[]
d.reverse()
for b in d:
    m.append(b[::-1])

In [108]:
d

[[0, 678, 69, 3], [3, 3, 35, 87, 232534]]

In [109]:
b

[3, 3, 35, 87, 232534]

In [110]:
m

[[3, 69, 678, 0], [232534, 87, 35, 3, 3]]

List inside a list is reversered.

In [111]:
n=[]
for i in m:
    n.append(i[2]*2)

In [112]:
n

[1356, 70]

In [113]:
[i[2]*2 for i in m]

[1356, 70]

In [114]:
[{i[2]*2} for i in m]

[{1356}, {70}]

In [115]:
t=[12.122336,5,68.8,9,"oper", [3,5,7]]

In [116]:
t.extend()

TypeError: extend() takes exactly one argument (0 given)

extend function unwraps the list to one level.

In [120]:
t.index(9)

3

Search the list for the element. First occurance index is returned. But if it is absent, error is returned.

New dataset === Tuple 

Store any kind of entity.

Immutable entity.

In [122]:
for i in m:
    if i == 7:
        m.remove(7)
    elif type(i) == list:
            n.remove(7)
    else :
        print("not able to remove")

ValueError: list.remove(x): x not in list

In [124]:
[m*2 for m in [i[2] for i in [[1,2,3], [4,5,7]]]]

[6, 14]

List is MUTABLE

STRING is IMMUTABLE.